
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "かんたん見積";
}
<form id="formInpOption">
    <table border="0" width="100%">
        <tbody>
            <tr>
                <td style="height: 514px" align="center">
                    <div>
                        <table class="inptable" id="Table3" cellpadding="2" cellspacing="0" bordercolor="#ffffff">
                            <tbody>
                                <tr>
                                    <td colspan="2" class="inptd" style="background-color:White;" align="left">
                                        <span id="Label6" class="inplabel" style="color:#3C82ED;font-size:14pt;font-weight:bold;">付属品・特別仕様の編集</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="2" class="inptd" style="background-color:White; height: 38px;" align="left">
                                        <span id="Label7" class="inplabel">
                                            付属品・特別仕様の項目・金額を編集できます。
                                        </span><br>
                                        <span id="Label8" class="inplabel">
                                            直接入力することで付加整備なども入力可能です。
                                        </span>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="tabletitle" style="WIDTH: 400px" colspan="2" align="left">
                                        <span id="lblOption" class="titlelabel" style="display:inline-block;width:451px;">付属品・特別仕様（税抜）</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="inptd" align="left">
                                        <span id="Label40" class="inplabel" style="display:inline-block;width:307px;">品名（一覧より選択・又は直接入力）</span>
                                    </td>
                                    <td class="inptd" align="left">
                                        <span id="Label27" class="inplabel" style="display:inline-block;width:74px;">金額</span>
                                    </td>
                                </tr>

                                @{
                                    for (var i = 1; i <= 12; i++)
                                    {
                                        var OptionName = "OptionName" + i;
                                        var OptionPrice = "OptionPrice" + i;
                                  
                                        <tr>
                                            <td class="inptd" align="left">
                                                <input name="@OptionName" type="text" id="@OptionName" class="inpbox" style="WIDTH: 281px;" tabindex="30" maxlength="40" size="41">
                                                <input name="btOpen1" type="button" id="btOpen1" style="FONT-SIZE: 6pt; WIDTH: 17px; FONT-FAMILY: 'ＭＳ Ｐゴシック'; HEIGHT: 22px; padding:0px;" onclick="OptionOpen(@i)" value="▼">
                                            </td>
                                            <td class="inptd" align="left">
                                                <input name="@OptionPrice" type="text" id="@OptionPrice" language="javascript"  maxlength="8" class="inpbox_r" tabindex="31" onblur="EstSum();" style="WIDTH: 94px;" size="10">
                                                <span id="Label29" class="inplabel" style="display:inline-block;height:14px;width:27px;">&nbsp;円</span>
                                            </td>
                                        </tr>
                                    }
                                }                              
                                <tr>
                                    <td class="sumtd" style="text-align:right;  height: 29px;" align="right">
                                        <span id="Labelaa6" class="inplabel">小計</span>
                                    </td>
                                    <td class="sumtd" style="height: 29px" align="left">
                                        <input name="OptionPriceAll" type="text" id="OptionPriceAll"  language="javascript" maxlength="8" class="inpboxsum" tabindex="48" style="WIDTH: 97px; " size="10" readonly="readOnly">
                                        <span id="Labela7" class="InpTitle1" style="display:inline-block;width:41px;">&nbsp;円</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="inpbtntd" colspan="2" style=" height: 37px;">

                                        <input type="button" name="btnCancel" value="キャンセル" id="btnCancel" onclick="Framework.GoBackReloadPageUrl('/');return false;" class="Btn1" style="height:32px;width:100px;">
                                        <input type="submit" name="btnOK" value="OK" onclick="return inputChk();" form="formInpOption" id="btnOK" class="Btn1" style="height:32px;width:100px;">&nbsp;

                                    </td>
                                </tr>
                                <tr>
                                    <td class="inpbtntd" colspan="2">
                                        <span id="Msg" class="inpboxsum" style="display:inline-block;color:Red;width:462px;"></span>&nbsp;
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <select name="lbxOption" id="lbxOption" class="InpBox2" style="BORDER-RIGHT: #eeeeee 1px solid; BORDER-TOP: #eeeeee 1px solid; VISIBILITY: hidden; BORDER-LEFT: #eeeeee 1px solid; BORDER-BOTTOM: #eeeeee 1px solid; position: absolute; z-index: 103; left: 240px; width: 290px; top: 260px; height: 100px;" onchange="indata()" onblur="SelectOnBlur()" size="4">
                            <option value=""></option>
                            <option value="ＥＴＣ車載器">ＥＴＣ車載器</option>
                            <option value="カーナビゲーション">カーナビゲーション</option>
                            <option value="ドライブレコーダー">ドライブレコーダー</option>
                            <option value="スタッドレスタイヤ">スタッドレスタイヤ</option>
                        </select>

                        <input type="hidden" id="hdPos" class="InpBox2" style="Z-INDEX: 104; LEFT: 57px; WIDTH: 24px; POSITION: absolute; TOP: 368px; HEIGHT: 16px" size="1">
                        <input type="hidden" id="EstNo" name="EstNo">
                        <input type="hidden" id="EstSubNo" name="EstSubNo">
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</form>
<script>
    $('#formInpOption').validate({
        submitHandler: function (form) {
            var model = Framework.getFormData($("#formInpOption"));
            console.log(model)
            var result = Framework.submitAjaxFormUpdateAsync(model, "/InpOption/UpdateInpOption");
            if (result.resultStatus == 0) {
                Framework.GoBackReloadPage();
            } else {
                let Items = result.data;
                console.log(Items)
                if (typeof (Items) != "undefined") {
                    $("#Msg").html(Items)
                } else {
                    location.reload();
                }
            }
        }
    });

</script>
<script src="~/js/InpOption.js"></script>