@using KantanMitsumori.Model;
@model LogToken
<div class="row">
    @{
        if (Model.sesMode == "1")
        {
            <img src="~/img/TentoLogo.png" class="imgHeader" />
        }
        else
        {
            <img src="~/img/AsLogo.png" class="imgHeader" />
        }
    }
    <img src="~/img/HeadTitle.gif" class="imgHeader" />
    <span id="lblUsr" class="headerTitle">@Model.UserNo　@Model.UserNm　様</span>

</div>
<img class="rounded mx-auto d-block" src="~/img/HeadLine.gif" style="width:100%" />