@using KantanMitsumori.Model;
@model LogToken
<label for="fname">EstNo:@Model.EstNo </label>  <label for="fname">EstSubNo: @Model.EstSubNo</label>
<br>
<input type="hidden" id="Token" name="Token" value=" @Model.Token">
<br>


