@using KantanMitsumori.Model;
@model LogToken
<div class="row">
    <div class="col-md-6 col-sm-6">
        <img src="~/img/AsLogo.png" />
        <img src="~/img/HeadTitle.gif" />
    </div>
    <div class="col-md-1 col-sm-1">
    </div>
    <div class="col-md-4 col-sm-4">
        <span id="lblUsr" style="display:inline-block;color:Black;font-size:12pt;font-weight:bold;height:12px;
          position: sticky; top: 11px; text-align: right">@Model.UserNo　@Model.UserNm　様</span>
    </div>
   
</div>
<img class="rounded mx-auto d-block" src="~/img/HeadLine.gif" />

