@using KantanMitsumori.Model;
@model LogToken
@*<label for="fname">EstNo:@Model.EstNo </label>  <label for="fname">EstSubNo: @Model.EstSubNo</label>
<br>
<input type="hidden" id="Token" name="Token" value=" @Model.Token">
<br>*@
<input type="hidden" id="Token" name="Token" value=" @Model.Token">
<img id="imgLogo" src="~/img/AsLogo.png" />
<img id="imgHeaTitle" src="~/img/HeadTitle.gif" />
<img id="imgHeaLine" src="~/img/HeadLine.gif" />
<span id="lblUsr">@Model.UserNo &nbsp;@Model.UserNm &nbsp;様</span>
<img id="imgLogoMini" src="~/img/BlankLogoMini.png" />

