
@{
    ViewData["Title"] = "Error";
}

<h1>Error</h1>


<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" >
<head runat="server">
    <title>かんたん見積</title>
    <meta http-equiv="Content-Type" content="text/html; charset=Shift_JIS" />
    <meta http-equiv="pragma" content="no-cache" />
    <meta http-equiv="Cache-Control" content="no-cache" />
    <meta http-equiv="Expires" content="Sun, 10 Jan 1990 01:01:01 GMT" />
	<meta name="content-language" content="ja" />
	<meta http-equiv="Content-Script-Type" content="text/javascript" />
	<meta http-equiv="Content-Style-Type" content="text/css" />
	<meta name="MSSmartTagsPreventParsing" content="true" />
	<meta http-equiv="imagetoolbar" content="false" />
    <link rel="stylesheet" type="text/css" href="./css/EstStyle.css" />
    
</head>
<body>
    <asp:Image ID="imgIcon" runat="server" Height="32px" ImageUrl="./img/BlankLogoMini.png"
        Style="left: 680px; position: absolute; top: 3px" Width="41px" />
    <asp:Image ID="Image2" runat="server" Height="32px" ImageUrl="./img/HeadTitle.gif"
        Style="left: 123px; position: absolute; top: 4px" Width="187px" />
    <form id="form1" runat="server">
    <div>
        <asp:label id="Label34" style="Z-INDEX: 100; LEFT: 16px; POSITION: absolute; TOP: 67px" runat="server"
						CssClass="InpTitle1" Width="625px" Height="116px" ForeColor="Red" Font-Bold="True" Font-Names="ＭＳ Ｐゴシック" Font-Size="12pt">エラーが発生しました。</asp:label>
        <asp:Image ID="Image1" runat="server" Height="36px" ImageUrl="~/img/BlankLogo.png" Style="z-index: 100;
            left: 2px; position: absolute; top: 1px" Width="110px" />
        &nbsp;&nbsp;
        <a href="javascript:closeWin();" ><img src="img/btn閉じる.png" class="imgBtn" alt="" style="z-index: 102; left: 19px; position: absolute; top: 256px" /></a>
        <asp:Label ID="lblInfoMessage" runat="server" CssClass="InpTitle1" Font-Bold="False"
            Font-Names="ＭＳ Ｐゴシック" Font-Size="11pt" ForeColor="Red" Height="99px" Style="z-index: 100;
            left: 25px; position: absolute; top: 98px" Width="625px" Visible="False">エラーの原因は・・・</asp:Label>
        <asp:Label ID="lblExitMessage" runat="server" CssClass="InpTitle1" Font-Bold="False" Font-Names="ＭＳ Ｐゴシック"
            Font-Size="11pt" ForeColor="Red" Height="23px" Style="z-index: 100; left: 18px;
            position: absolute; top: 230px" Width="400px">「閉じる」ボタンを押して、かんたん見積を終了してください。</asp:Label>
    </div>
    </form>
</body>
</html>
