@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "EstMain";
}

<div class="row">
    <!--button-->
    <div class="col-sm-2">
        <div class="col d-flex justify-content-between">
            <div class="border-button container text-center">
                <br />
                <div class="col d-flex justify-content-between">
                    <a href="javascript:window.close();">
                        <img src="~/img/btn閉じる.png" />
                    </a>
                </div>
                <br />
                <div class="col d-flex justify-content-between">
                    <a href="">
                        <img src="~/img/btn見積印刷.png" />
                    </a>
                </div>
                <div class="col d-flex justify-content-between">
                    <a href="">
                        <img src="~/img/btn注文印刷.png" />
                    </a>
                </div>
                <br />
                <div class="col d-flex justify-content-between">
                    <a href="">
                        <img src="~/img/btn検索.png" />
                    </a>
                </div>
                <div class="col d-flex justify-content-between">
                    <a href="">
                        <img src="~/img/btnフリー見積.png" />
                    </a>
                </div>
                <br />
                <div class="col d-flex justify-content-between">
                    <a href="">
                        <img src="~/img/btn諸費用設定.png" />
                    </a>
                </div>
                <div class="col d-flex justify-content-between">
                    <span class="label label-text">※事前設定必要</span>
                </div>
            </div>
        </div>
    </div>
    <!--end button-->
    <!--Container-->
    <div class="col-sm-10">
        <div class="row">
            <div class="col-6 col-sm-6 ">
                <table cellpadding="1" class="nomal">
                    <tbody>
                        <tr>
                            <td class=" table-color  ">
                                見積書番号
                            </td>
                            <td class="data">
                                <span id="lbEstNo" class="table-text">22080500007-01</span>
                            </td>
                            <td class="table-color ">
                                見積日
                            </td>
                            <td class="data">
                                <span id="lbTradeDate" class="table-text">2022年8月5日</span>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <br />
                <table cellpadding="1" class="nomal">
                    <tbody>
                        <tr>
                            <td  class="estTitle-color-text">
                                <span id="Label86" class="EstTitle">お支払総額</span>
                            </td>
                            <td class ="estTitle-color-price">
                                <span id="lbl_SaleAll" class="EstTitle " style="">1,198,901 円</span>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <br />
                <span class="label-red label-note-right d-flex justify-content-between">
                    ※注意※<br>
                    諸費用設定にて、10月以前に「税込み」表示設定をしている場合は、<br>
                    10月より税率が10%になりましたので今一度見直しください。
                </span>
            </div>
            <div class="col-4 col-sm-4 ">
                <span class="label-red label-note-left ">
                    ・&nbsp;この見積は既に保存されています<br>
                    ・&nbsp;データの保存期間は3ヶ月です<br>
                    ・&nbsp;保存データは見積検索から呼び出しが出来ます<br>
                    ・&nbsp;注文書は会員様責任にてご利用ください
                </span>
            </div>
        </div>
    </div>
    <!--end Container-->
</div>



<!-- 固定表示 -->
