
<!DOCTYPE html>
<html lang="ja">
    <head>
        <title>かんたん見積</title>
        <meta http-equiv="content-type" content="text/html" charset="shift_jis" />
        <meta http-equiv="expires" content="Sun, 10 Jan 1990 01:01:01 GMT"/>
        <meta http-equiv="content-language" content="ja" />
        <meta name="MSSmartTagsPreventParsing" content="true" />
        <meta http-equiv="" content="false" />
        <link rel="stylesheet" type="text/css" href="./css/site.css" />
    </head>
    <body>
        <form id="frm">
            <img id="imgLogo" runat="server" height="36px" src="~/img/AsLogo.png"
            Style="z-index: 100; left: 2px; position: absolute; top: 1px" Width="110px" />
            <img id="imgHeaTitle" src="~/img/HeadTitle.gif"/>
             <img id="imgHeaLine" src="~/img/HeadLine.gif" />
            <label ID="lblUsr">88888195 オートビューアー　様</label>
            <img id="imgLogoMini" src="~/img/BlankLogoMini.png"/>
            <!-- 固定表示 -->
            <label ID="lblInfoEst"></label>
            <!-- メニュー -->
            <div>

            </div>
            
        </form>
    </body>
</html>
