@using KantanMitsumori.Model.Request;

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Home Page";
}

@model List<MakerModel>

@*<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <form id="formDataList">
    <label for="fname">MakerId:</label><br>
    <input type="number" id="MakerId" name="MakerId" value=""><br>
    <label for="lname">MakerName</label><br>
    <input type="text" id="MakerName" name="MakerName" value=""><br><br>
    <button type="submit" form="formDataList" value="Submit">submit</button>
    </form>
    </div>*@
<div class="bd-example bd-example-row">
    <div class="row">
        <div class="col-sm-3">
            Level 1: .col-sm-3
        </div>
        <div class="col-sm-9">
            <div class="row">
                <div class="col-6 col-sm-6">
                    Level 2: .col-8 .col-sm-6
                </div>
                <div class="col-6 col-sm-6">
                    Level 2: .col-4 .col-sm-6
                </div>
            </div>
            <div class="row">
                <div class="col-6 col-sm-6">
                    Level 2: .col-8 .col-sm-6
                </div>
                <div class="col-6 col-sm-6">
                    Level 2: .col-4 .col-sm-6
                </div>
            </div>
            <div class="row">
                <div class="col-6 col-sm-6">
                    Level 2: .col-8 .col-sm-6
                </div>
                <div class="col-6 col-sm-6">
                    Level 2: .col-4 .col-sm-6
                </div>
            </div>
        </div>
    </div>


    <div class="row">
        <div class="col-sm-12">
            Level 1: .col-sm-3
        </div>
        <div class="col-sm-12">
            <div class="row">
                <div class="col-6 col-sm-6">
                    Level 2: .col-8 .col-sm-6
                </div>
                <div class="col-6 col-sm-6">
                    Level 2: .col-4 .col-sm-6
                </div>
            </div>
            <div class="row">
                <div class="col-6 col-sm-6">
                    Level 2: .col-8 .col-sm-6
                </div>
                <div class="col-6 col-sm-6">
                    Level 2: .col-4 .col-sm-6
                </div>
            </div>
            <div class="row">
                <div class="col-6 col-sm-6">
                    Level 2: .col-8 .col-sm-6
                </div>
                <div class="col-6 col-sm-6">
                    Level 2: .col-4 .col-sm-6
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            Level 1: .col-sm-12
        </div>
        <div class="col-sm-12">
            <div class="row">
                <div class="col-1 col-sm-1">
                    Level 2: .col-8 .col-sm-6
                </div>
                <div class="col-4 col-sm-4">
                    Level 2: .col-8 .col-sm-6
                </div>
                <div class="col-1 col-sm-1">
                    Level 2: .col-8 .col-sm-6
                </div>
                <div class="col-6 col-sm-6">
                    Level 2: .col-4 .col-sm-6
                </div>
            </div>
            <div class="row">
                <div class="col-6 col-sm-6">
                    Level 2: .col-8 .col-sm-6
                </div>
                <div class="col-6 col-sm-6">
                    Level 2: .col-4 .col-sm-6
                </div>
            </div>
            <div class="row">
                <div class="col-6 col-sm-6">
                    Level 2: .col-8 .col-sm-6
                </div>
                <div class="col-6 col-sm-6">
                    Level 2: .col-4 .col-sm-6
                </div>
            </div>
        </div>
    </div>
</div>

&nbsp;
&nbsp;

<!-- Ç®ãqólèÓïÒÅiàÛéöópÅj -->
<div class="row">
    <div class="col-8 col-sm-8">
        <table cellpadding="1" class="table table-responsive" style="border: solid 1px #000000;">
            <tr>
                <td colspan="2" class="title" style="background-color: #d2e0fb; text-align: left;">
                    å©êœèë/íçï∂èë àÛéöóp&nbsp; <strong><span style="color: red; font-size: 12px">Å¶ï€ë∂ÇÕÇ≥ÇÍÇ‹ÇπÇÒ</span></strong>
                </td>
            </tr>
            <tr>
                <td class="title">
                    Ç®ñºëO
                </td>
                <td class="data" colspan="2">
                    <input type="text" maxlength="40" class="inpbox"/>
                </td>
            </tr>
            <tr>
                <td class="title">
                    óXï÷î‘çÜ
                </td>
                <td class="data"><input type="text" maxlength="8" class="inpbox">
                </td>
            </tr>
            <tr>
                <td class="title">
                    èZèä
                </td>
                <td class="data"><input type="text" maxlength="60" class="inpbox">
                </td>
            </tr>
            <tr>
                <td class="title">
                    ìdòbî‘çÜ
                </td>
                <td class="data"><input type="text" maxlength="13" class="inpbox">
                </td>
            </tr>
        </table>
    </div>
    <div class="col-4 col-sm-4">
        <table cellpadding="1" class="table table-responsive" style="border: solid 1px #000000;">
            <tr>
                <td class="title" style="background-color: #d2e0fb; text-align: left;">
                    <input type="image" name="ImageButton2" id="ImageButton2" class="imgBtn" src="img/sbtn%e8%b2%a9%e5%a3%b2%e5%ba%97.png" style="width:140px;border-width:0px;vertical-align: middle;">
                </td>
            </tr>
            <tr>
                <td class="dataInfo">
                    <span id="lbl_ShopName1"  style="text-align: left;">testShop88888195</span>
                </td>
            </tr>
            <tr>
                <td class="dataInfo">
                    <span id="lbl_Address" style="text-align: left;">ìåãûìs88888195</span>
                </td>
            </tr>
            <tr>
                <td class="dataInfo">
                    <span id="lbl_TantoName" style="text-align: left;">íSìñ : íSìñéüòYhogeÅ@Å@ê”îCé“ : ëSäpDUCvuongÅ@Å@TEL : 0532-57-5554 </span>
                </td>
            </tr>
        </table>
    </div>
</div>



<script>
    $('#formDataList').validate({
        rules: {
            MakerId: {
                required: true
            }
        },
        submitHandler: function(form) {
            var model = Framework.getFormData($("#formDataList"));
            Framework.submitAjaxFormCreateAwait(model, "Home/TestSummitFormAjax");
            console.log(model);
        }
    });
</script>