@using KantanMitsumori.Model.Request;

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Home Page";
}

@model List<MakerModel>

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <form id="formDataList">
        <label for="fname">MakerId:</label><br>
        <input type="number" id="MakerId" name="MakerId" value=""><br>
        <label for="lname">MakerName</label><br>
        <input type="text" id="MakerName" name="MakerName" value=""><br><br>
        <button type="submit" form="formDataList" value="Submit">submit</button>
    </form>
</div>
<script>
    $('#formDataList').validate({
        rules: {
            MakerId: {
                required: true
            }
        },
        submitHandler: function(form) {
            var model = Framework.getFormData($("#formDataList"));
            Framework.submitAjaxFormCreateAwait(model, "Home/TestSummitFormAjax");
            console.log(model);
        }
    });
</script>