@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "InpCar";
}

<div class="row">
    <div>見積車両情報の編集</div>
    <div>お見積する車両の情報を編集できます。</div>
    <div class="col-2 col-sm-2">
    </div>
    <div class="col-8 col-sm-8">
        <table cellpadding="1" class="table table-responsive" style="border: solid 1px #000000;">
            <tr>
                <td colspan="2" class="title" style="background-color: #d2e0fb; text-align: left;">
                    車両情報&nbsp; <strong><span style="color: red; font-size: 12px">※修復歴は出品票にてご判断いただき、有・無を選択してください</span></strong>
                </td>
            </tr>
            <tr>
                <td class="title">
                    メーカー名
                </td>
                <td class="data" colspan="2">
                    <input type="text" maxlength="40" class="inpbox" />
                </td>
            </tr>
            <tr>
                <td class="title">
                    車名
                </td>
                <td class="data">
                    <input type="text" maxlength="8" class="inpbox">
                </td>
            </tr>
            <tr>
                <td class="title">
                    グレード名
                </td>
                <td class="data">
                    <input type="text" maxlength="60" class="inpbox">
                </td>
            </tr>
            <tr>
                <td class="title">
                    型式
                </td>
                <td class="data">
                    <input type="text" maxlength="13" class="inpbox">
                </td>
            </tr>
            <tr>
                <td class="title">
                    車台番号
                </td>
                <td class="data">
                    <input type="text" maxlength="13" class="inpbox">
                </td>
            </tr>
            <tr>
                <td class="title">
                    初年度登録
                </td>
                <td class="data">
                    <input type="text" maxlength="13" class="inpbox">
                </td>
            </tr>
            <tr>
                <td class="title">
                    車検有効期限
                </td>
                <td class="data">
                    <input type="text" maxlength="13" class="inpbox">
                </td>
            </tr>
            <tr>
                <td class="title">
                    走行距離
                </td>
                <td class="data">
                    <input type="text" maxlength="13" class="inpbox">
                </td>
            </tr>
            <tr>
                <td class="title">
                    排気量
                </td>
                <td class="data">
                    <input type="text" maxlength="13" class="inpbox">
                </td>
            </tr>
            <tr>
                <td class="title">
                    シフト
                </td>
                <td class="data">
                    <input type="text" maxlength="13" class="inpbox">
                </td>
            </tr>
            <tr>
                <td class="title">
                    色
                </td>
                <td class="data">
                    <input type="text" maxlength="13" class="inpbox">
                </td>
            </tr>
            <tr>
                <td class="title">
                    装備
                </td>
                <td class="data">
                    <input type="text" maxlength="13" class="inpbox">
                </td>
            </tr>
            <tr>
                <td class="title">
                    車歴
                </td>
                <td class="data">
                    <input type="text" maxlength="13" class="inpbox">
                </td>
            </tr>
            <tr>
                <td class="title">
                    修復歴
                </td>
                <td class="data">
                    <input type="text" maxlength="13" class="inpbox">
                </td>
            </tr>
        </table>
    </div>
    <div class="col-2 col-sm-2">
    </div>
</div>


<!--end Container-->
<!-- 固定表示 -->
