tr > td.title {
    background: #d2e0fb;
    background-color: #eee;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
    border: solid 1px #000;
}

tr > td.data {
    background-color: #fff;
    padding: 5px 0px 5px 5px;
    vertical-align: middle;
    text-align: left;
    border: solid 1px #000;
}

tr > td.dataInfo {
    font-size: 12pt;
    background-color: #fff;
    vertical-align: middle;
    border: none;
    text-align: left
}

input.inpbox {
    width: 75%;
}

input.imgBtn {
    margin-right: 2px;
}

tr > td.dataLbl {
    background-color: #fff;
    padding: 5px 0px 5px 5px;
    vertical-align: middle;
    text-align: left;
    border: solid 1px #000;
    width:34.5%;
}

tr > td.dataLblInfoCar {
    background-color: #fff;
    padding: 5px 0px 0px 0px;
    vertical-align: middle;
    text-align: left;
    border: solid 1px #000;
    width: 8%;
}
tr > td.dataLblInfoCar > span {
   padding-left:5px;
}
tr > td.titDataPrice {
    background-color: #fff;
    padding: 4px 0px 3px 3px;
    vertical-align: middle;
    text-align: left;
    border: solid 1px #000;
    border-right: none;
}

tr > td.dataPrice {
    background-color: #fff;
    padding: 4px 0px 0px 0px;
    vertical-align: middle;
    border: solid 1px #000;
}

tr > td.btnImgPrice {
    background-color: #fff;
    padding: 4px 0px 0px 0px;
    vertical-align: middle;
    text-align: right;
    border: solid 1px #000;
    border-left: none;
}

tr > td.txtprice {
    background-color: #fff;
    padding: 4px 2px 0px 0px;
    vertical-align: middle;
    text-align: right;
    border: solid 1px #000;
}


/* Hoai Phong custom header*/
.label-header {
    font-family: 'ＭＳ Ｐゴシック';
    background-color: Transparent;
    font-weight: bold;
}

.label-text {
    display: inline-block;
    color: Red;
    background-color: Transparent;
    font-family: 'ＭＳ Ｐゴシック';
    font-weight: bold;
}

.border-button {
    border-right: #3c82ed 1px solid;
    border-top: #3c82ed 1px solid;
    z-index: 118;
    border-left: #3c82ed 1px solid;
    width: 170px;
    border-bottom: #3c82ed 1px solid;
    position: absolute;  
    background-color: transparent;
}
.border-button-print {
    z-index: 118;
    width: 170px;  
    position: absolute;
    background-color: transparent;
}
.label-note-left {
    vertical-align: top;
    direction: ltr;
    position: absolute;
    text-align: left;
    line-height: 1.6em;
}

.label-red {
    display: inline-block;
    background-color: Transparent;
    color: Red;
    font-family: 'ＭＳ Ｐゴシック';
    font-size: 9pt;
    font-weight: bold;
}

.label-note-right {
    z-index: 103;
    vertical-align: top;
    direction: ltr;
    text-align: left;
    line-height: 1.6em;
}

.table-color {
    background-color: #d2e0fb;
    text-align: left;
    width: 140px;
    border: solid 1px #000;
    color: #000;
    height: 25px;
    padding: 0 2px 0 2px;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
}

.table-text {
    display: inline-block;
    font-size: 12pt;
    height: 20px;
    width: 140px;
}

.estTitle {
    font-size: 20pt;
    font-family: "ＭＳ Ｐゴシック";
    color: black;
    background-color: transparent;
    text-align: left;
    vertical-align: middle;
    padding-left: 1px;
    border-width: initial;
    border-style: none;
    border-color: initial;
    border-image: initial;
}

.estTitle-color-text {
    border-bottom: solid 2px crimson;
    width: 170px;
    font-size: 20pt;
}

.estTitle-color-price {
    border-bottom: solid 2px crimson;
    width: 270px;
    font-size: 20pt;
    text-align: right;
}

td.estTitleLeaseTotal-color-text {
    border-bottom: solid 2px crimson;
    width: 230px;
    font-size: 20pt;
}

/*End Hoai Phong custom header*/

.spanTxtSubject {
    color: red;
    font-size: 12px;
    text-align:left;
    margin: 0 auto;
}

.spanTxt {
    color: red;
    font-size: 12px;
    text-align: left;
    margin: 0 auto;
    display: block;
}

