@charset "utf-8";

/* ==========================
font-size
10px:77%
11px:85%
12px:93%
13px:100%
14px:108%
15px:116%
16px:123.1%
17px:131%
18px:138.5%
19px:146.5%
20px:153.9%
21px:161.6%
22px:167%
23px:174%
24px:182%
25px:189%
26px:197%
---------------------------*/

/* ===================================================== */
/* font size */
/* ===================================================== */
.txtS{
	font-size:85%;
}
.txtL{
	font-size:131%;
}


/* ===================================================== */
/* font family */
/* ===================================================== */
select,input,button,textarea,button {
	font-family: "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
}

pre,code,kbd,samp,tt {
	font-family: "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
}