@charset "utf-8";
/* ===================================================== */
/* ID/CLASS ELEMENT SET */
/* ===================================================== */
html,
body {
    min-width: 1200px;
}

    html.js-menuOpened {
        position: fixed;
        width: 100vw;
        height: 100%;
        overflow-y: hidden;
    }

.main {
    display: block;
    min-width: 1200px;
    margin-top: 95px;
    overflow-x: hidden;
}

.simpleHeader + .main {
    margin: 0;
}

.onlySP {
    display: none;
}

/* box
----------------------- */
.box {
    width: 1200px;
    margin: 0 auto 80px;
}

.boxGray01 {
    background: #f9f8f3;
}

.boxGray02 {
    background: #f3f2ed;
}

.boxWrap {
    width: 1200px;
    margin: 0 auto 50px;
}

    .boxWrap:last-child {
        margin-bottom: 0;
    }

/* text */
.textPoint {
    color: #e33033;
}

.textCenter {
    text-align: center;
}

.textBold {
    font-weight: bold;
}

.textError {
    color: #e33033;
    font-size: 1rem;
    font-weight: bold;
}

.textSupplement {
    color: #666;
}

/* button common set
----------------------- */
.buttonLink {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 298px;
    height: 48px;
    margin: 30px auto 0;
    transition: background .2s;
    border: 1px solid #555;
    border-radius: 25px;
    background: #fff;
    color: #555;
    font-size: 1rem;
    text-decoration: none;
}

    .buttonLink:hover {
        border-color: #e64346;
        color: #e64346;
    }

    .buttonLink .arrowNext {
        position: absolute;
        top: 50%;
        right: 20px;
        width: 16px;
        height: 16px;
        transform: translateY(-50%);
        transition: right .2s;
        fill: #555;
    }

    .buttonLink:hover .arrowNext {
        right: 15px;
        fill: #e64346;
    }

/* 決定系ボタン */
.buttonDecision {
    display: block;
    position: relative;
    width: 498px;
    margin: 30px auto 15px;
    padding: 20px 0;
    transition: .2s;
    border: 0;
    border-radius: 50px;
    background: #e33033;
    color: #fff;
    font-family: 'M PLUS Rounded 1c', sans-serif;
    font-size: 1.375rem;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    text-shadow: 2px 2px 1px #800b00;
    overflow: hidden;
    z-index: 1;
}

    .buttonDecision::before {
        position: absolute;
        top: 0;
        left: 0;
        width: 200%;
        height: 100%;
        transition-duration: .1s;
        background: linear-gradient(to right, #fa9a39 0%, #e33033 30%, #e33033 70%, #fa9a39 100%);
        z-index: -2;
        content: "";
    }

    .buttonDecision:hover {
        width: 548px;
    }

        .buttonDecision:hover::before {
            transform: translateX(-50%);
        }

    .buttonDecision .arrowNext {
        position: absolute;
        top: 50%;
        right: 20px;
        width: 26px;
        height: 26px;
        transform: translateY(-50%);
        transition: right .2s;
        fill: #fff;
    }

    .buttonDecision:hover .arrowNext {
        fill: #fff;
    }
/* 非活性ボタン */
.buttonDisabled {
    border-color: #cdcdc7;
    background: #cdcdc7;
    color: #666;
    text-shadow: none;
    pointer-events: none;
}

    .buttonDisabled::before {
        display: none;
    }

    .buttonDisabled .arrowNext {
        fill: #cdcdc7;
    }

/* 戻るボタン */
.buttonPrev {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 298px;
    height: 48px;
    margin: 30px auto 0;
    transition: background .2s;
    border: 1px solid #666;
    border-radius: 25px;
    background: #fff;
    color: #666;
    font-size: 1rem;
    text-decoration: none;
}

    .buttonPrev:hover {
        background: #666;
        color: #fff;
    }

    .buttonPrev .arrowNext {
        position: absolute;
        top: 50%;
        left: 20px;
        width: 16px;
        height: 16px;
        transform: translateY(-50%) scale(-1, 1);
        transition: left .2s;
        fill: #666;
    }

    .buttonPrev:hover .arrowNext {
        left: 15px;
        fill: #fff;
    }

/* クリアボタン */
.buttonClear {
    width: 138px;
    padding: 7px 0 5px;
    transition-duration: .2s;
    border: 1px solid #666;
    border-radius: 4px;
    background: #fff;
    color: #666;
    font-size: .75rem;
    text-align: center;
    cursor: pointer;
}

    .buttonClear:hover {
        background: #666;
        color: #fff;
    }



/* ===================================================== */
/* FORM ELEMENT SET */
/* ===================================================== */
input,
textarea,
option {
    font-size: 0.875rem;
    font-family: 'Hiragino Kaku Gothic ProN', 'ヒラギノ角ゴ ProN W3', "Yu Gothic", "游ゴシック", YuGothic, "游ゴシック体", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
    font-weight: 500;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

    input[type="submit"],
    input[type="button"],
    button {
        cursor: pointer;
    }

button {
    font-family: 'Hiragino Kaku Gothic ProN', 'ヒラギノ角ゴ ProN W3', "Yu Gothic", "游ゴシック", YuGothic, "游ゴシック体", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
}

label {
    cursor: pointer;
}

/* 横並びリスト */
.listInline,
.listInlineLong {
    display: flex;
    flex-wrap: wrap;
    width: 1000px;
    margin-bottom: -15px;
}

    .listInline .listItem,
    .listInlineLong .listItem {
        margin-bottom: 15px;
    }

        .listInline .listItem:not(:last-child),
        .listInlineLong .listItem:not(:last-child) {
            min-width: 80px;
            margin-right: 20px;
        }

/* チェックボックス */
.typeCheck {
    display: block;
    position: relative;
    padding-left: 25px;
    font-size: 1rem;
}

    .typeCheck:hover {
        color: #e64346;
    }

        .typeCheck:hover::before {
            border-color: #e64346;
        }

    .typeCheck::before {
        display: block;
        position: absolute;
        top: -2px;
        left: 0;
        width: 16px;
        height: 16px;
        transition-duration: .2s;
        border: 2px solid #ccc;
        border-radius: 2px;
        background: #fff url("../img/ico_check.png") no-repeat center center / 0;
        content: "";
    }

    .typeCheck.checked {
        color: #e64346;
    }

        .typeCheck.checked::before {
            border-color: #e64346;
            background-color: #e64346;
            background-size: 20px;
        }

    .typeCheck input {
        position: absolute;
        opacity: 0;
    }

/* ラジオボタン */
.typeRadio {
    display: block;
    position: relative;
    padding-left: 25px;
    font-size: 1rem;
}

    .typeRadio:hover {
        color: #e64346;
    }

        .typeRadio:hover::before {
            border-color: #e64346;
        }

    .typeRadio::before {
        display: block;
        position: absolute;
        top: -2px;
        left: 0;
        width: 16px;
        height: 16px;
        border: 2px solid #ccc;
        border-radius: 50%;
        background: #fff;
        content: "";
    }

    .typeRadio.checked {
        color: #e64346;
    }

        .typeRadio.checked::before {
            border-color: #e64346;
        }

    .typeRadio::after {
        display: block;
        position: absolute;
        top: 8px;
        left: 10px;
        width: 0;
        height: 0;
        transition-duration: .2s;
        border-radius: 50%;
        background: #fff;
        content: "";
    }

    .typeRadio.checked::after {
        top: 4px;
        left: 6px;
        width: 8px;
        height: 8px;
        background: #e64346;
    }

    .typeRadio input {
        position: absolute;
        opacity: 0;
    }

/* select */
.selectWrap {
    position: relative;
    padding-right: 30px;
    border: 1px solid #ccc;
    border-radius: 2px;
    background: #fff;
}

    .selectWrap::after {
        display: block;
        position: absolute;
        top: 50%;
        right: 10px;
        transform: translateY(-50%);
        border-width: 5px 5px 0;
        border-style: solid;
        border-color: #3b4856 transparent;
        content: "";
    }

    .selectWrap select {
        width: calc(100% + 30px);
        height: 40px;
        padding: 10px;
        border: 0;
        background: transparent;
        line-height: 1;
        box-sizing: border-box;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
    }

        .selectWrap select::-ms-expand {
            display: none;
        }

@media all and (-ms-high-contrast: none) {
    *::-ms-backdrop, .selectWrap select {
        padding: 0 10px;
    }
}


/* ページャー */
.pagination {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
}

    .pagination a,
    .pagination .current {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 50px;
        height: 40px;
        transition-duration: .2s;
        background: #f3f2ed;
        color: #555;
        text-decoration: none;
    }

        .pagination a:hover {
            background: #e6e5e1;
        }

    .pagination .current {
        background: #807f7c;
        color: #fff;
    }

    .pagination span:not(.current) {
        display: flex;
        align-items: center;
        height: 40px;
        padding: 0 5px;
        background: #f3f2ed;
    }

    .pagination .icon {
        width: 20px;
        height: 20px;
        fill: #333;
    }

    .pagination .pagePrev,
    .pagination .pageNext {
        position: relative;
        width: 88px;
        background: #e6e5e1;
    }

    .pagination .pagePrev {
        margin-right: 5px;
        padding-left: 10px;
        border-radius: 25px 0 0 25px;
    }

    .pagination .pageNext {
        margin-left: 5px;
        padding-right: 10px;
        border-radius: 0 25px 25px 0;
    }

    .pagination .pagePrev .icon {
        position: absolute;
        top: 50%;
        left: 10px;
        transform: scale(-1, 1) translateY(-50%);
    }

    .pagination .pageNext .icon {
        position: absolute;
        top: 50%;
        right: 10px;
        transform: translateY(-50%);
    }

/* ===================================================== */
/* TITLE SET */
/* ===================================================== */
/* headline
--------------------- */
.headline01 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 30px 0;
    border-top: 1px solid #e6e5e1;
    background: #fff;
    font-family: 'M PLUS Rounded 1c', sans-serif;
    font-size: 2.125rem;
    font-weight: 500;
    line-height: 1;
    letter-spacing: .05em;
    box-shadow: 0 2px 5px rgba(51, 51, 51, .1);
}

.headlineRuby {
    width: 100%;
    margin: -30px 0 30px;
    padding: 8px 0;
    background: #f5f4ef;
    color: #e33033;
    font-size: 1.25rem;
    font-weight: bold;
    text-align: center;
}
/* heading
--------------------- */
.heading01 {
    position: relative;
    margin: 0 0 30px;
    border-bottom: 3px solid #f3f2ed;
    font-family: 'M PLUS Rounded 1c', sans-serif;
    font-size: 1.875rem;
    font-weight: 500;
}

    .heading01::before {
        position: absolute;
        bottom: -3px;
        left: 0;
        width: 300px;
        height: 3px;
        background: #e33033;
        content: "";
    }

/* subHead
--------------------- */
.subHead01 {
    margin-bottom: 15px;
    font-family: 'M PLUS Rounded 1c', sans-serif;
    font-size: 1.5rem;
    font-weight: 500;
}
/* ===================================================== */
/* ITEM LIST */
/* ===================================================== */
.items {
    display: flex;
    flex-wrap: wrap;
    max-width: 100%;
}

.itemsList {
    transition-duration: .2s;
    width: 224px;
    max-width: 224px;
    margin-left: 20px;
}

    .itemsList:nth-child(5n+1) {
        margin-left: 0;
    }

    .itemsList:hover {
        transform: scale(1.02);
    }

.itemsItem {
    display: block;
    position: relative;
    height: calc(100% - 144px);
    padding: 10px 10px 127px;
    border-radius: 5px;
    background: #f9f8f3;
    text-decoration: none;
    overflow: hidden;
    box-shadow: 4px 4px 1px #e6e5e1;
}

.items .image {
    width: 192px;
    height: 96px;
    margin: 0 auto 10px;
    padding: 5px;
    border-radius: 4px;
    background: #fff;
    text-align: center;
}

.items img {
    display: block;
    margin: 0 auto;
}

.items .ico_pickup {
    position: absolute;
    top: 0;
    left: 0;
}

    .items .ico_pickup span {
        position: absolute;
        top: 10px;
        left: 4px;
        color: #fff;
        white-space: nowrap;
        z-index: 1;
    }

    .items .ico_pickup::before {
        position: absolute;
        top: -8px;
        left: -10px;
        width: 50px;
        height: 45px;
        border-radius: 50%;
        background: #e64346;
        content: "";
    }

    .items .ico_pickup::after {
        position: absolute;
        top: 24px;
        left: 14px;
        border-width: 10px 10px 10px 0;
        border-style: solid;
        border-color: transparent #e64346 transparent transparent;
        content: "";
    }

.itemsName {
    margin: 0 10px 10px;
    font-size: 1rem;
    font-weight: bold;
}

.itemsStock {
    margin: 0 10px 5px;
}

.itemsSpec {
    display: inline-block;
    position: absolute;
    bottom: 108px;
    left: 15px;
    padding: 2px 5px;
    border-radius: 2px;
    background: #e6e5e1;
    line-height: 1;
}

.itemsPrice {
    display: block;
    position: absolute;
    bottom: 45px;
    left: 15px;
    min-height: 45px;
    color: #666;
}

.itemsMonth {
    margin-right: 5px;
    color: #666;
    font-weight: bold;
}

.itemsPrice strong {
    color: #e33033;
    font-size: 22px;
    font-weight: bold;
}

.itemsTax {
    display: inline-block;
    color: #666;
}

.items .button {
    position: absolute;
    bottom: 5px;
    left: 5px;
    width: 195px;
    padding: 10px;
    border-radius: 20px;
    color: #fff;
    text-align: center;
    overflow: hidden;
    z-index: 1;
}

    .items .button::before {
        position: absolute;
        top: 0;
        left: 0;
        width: 200%;
        height: 100%;
        transition-duration: .1s;
        background: linear-gradient(to right, #ff7733 0%, #fa9a39 50%, #fac337 100%);
        z-index: -2;
        content: "";
    }

.itemsItem:hover .button::before {
    transform: translateX(-50%);
}

.items .buttonSold {
    position: absolute;
    bottom: 5px;
    left: 5px;
    width: 190px;
    padding: 10px;
    border: 1px solid #cdcdc7;
    border-radius: 4px;
    background: #cdcdc7;
    color: #333;
    text-align: center;
}

.items .arrowNext {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    transition-duration: .1s;
    right: 10px;
    width: 16px;
    height: 16px;
    fill: #fff;
}


.itemsItem:hover .arrowNext {
    right: 5px;
}

/* スライダー用 */
.items.js-itemsSlide {
    display: block;
}

.js-itemsSlide {
    padding: 0 15px;
}

    .js-itemsSlide .slick-list {
        padding: 5px 0;
    }

    .js-itemsSlide .itemsList {
        margin-left: 10px;
        transform: translateX(-5px);
    }

        .js-itemsSlide .itemsList:hover {
            transform: translateX(-5px) scale(1.02);
        }

.items .slick-arrow {
    width: 17px;
    height: 32px;
    transform: translateY(-50%);
    transition-duration: .2s;
    background: url("../img/ico_arrow.png") no-repeat left top / cover;
    z-index: 3;
}

    .items .slick-arrow::before {
        content: "";
    }

.items .slick-prev {
    left: 0;
}

    .items .slick-prev:hover {
        left: -5px;
    }

.items .slick-next {
    right: 0;
    transform: scale(-1, 1);
}

    .items .slick-next:hover {
        right: -5px;
    }

/* ===================================================== */
/* REIVEW LIST */
/* ===================================================== */
.review {
    display: flex;
    border-bottom: 1px solid #ddd;
}

.reviewItem {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 192px;
    padding: 20px;
    text-align: center;
    text-decoration: none;
}

    .reviewItem .image {
        width: 192px;
        height: 96px;
        transition-duration: .2s;
    }

a.reviewItem:hover .image {
    transform: scale(1.05);
}

.reviewName {
    display: block;
    width: 192px;
    margin-top: 10px;
    font-size: 1rem;
    font-weight: bold;
}

a.reviewItem:hover .reviewName {
    color: #e33033;
}

.reviewBody {
    flex: 1;
    padding: 20px 20px 20px 0;
}

.reviewRate {
    height: 24px;
}

.reviewData {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.reviewDataList {
    margin: 15px 1rem 0 0;
    font-size: 1rem;
}

.reviewUser,
.reviewSex,
.reviewAge {
    font-weight: bold;
}

.reviewGrade,
.reviewPeriod {
    width: 100%;
    margin: 13px 0 0;
    font-size: .875rem;
}

.reviewText {
    margin: 13px 0 0;
    font-size: 1rem;
    line-height: 1.75;
}

.addReviewButton {
    margin-left: 1em;
    color: #555;
    text-decoration: underline;
    cursor: pointer;
}

.addReview {
    display: none;
}

.reviewLink {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 130px;
    background: #f3f2ed;
    color: #555;
    text-decoration: none;
}

    .reviewLink:hover {
        color: #e64346;
    }

    .reviewLink .arrowNext {
        display: block;
        width: 26px;
        height: 26px;
        margin-bottom: 15px;
        fill: #555;
    }

    .reviewLink:hover .arrowNext {
        fill: #e64346;
    }

    .reviewLink span {
        display: block;
        color: #555;
        line-height: 1.5;
        text-align: center;
    }

/* ===================================================== */
/* INFORMATION */
/* ===================================================== */
.information {
    width: 100%;
    border-top: 1px solid #d8dee5;
    border-collapse: collapse;
}

    .information th,
    .information td {
        padding: 10px;
        border-bottom: 1px solid #d8dee5;
        line-height: 1.75;
    }

    .information th {
        width: 110px;
        font-weight: normal;
        text-align: left;
        vertical-align: top;
    }

/* ===================================================== */
/* INQUIRY */
/* ===================================================== */
.inquiry {
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
}

.inquirybox {
    width: 490px;
    padding: 20px 50px;
    border-radius: 4px;
    background: #fff;
}

.inquiryTitle {
    margin-bottom: 10px;
    font-family: 'M PLUS Rounded 1c', sans-serif;
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
}

.inquiry .buttonLink {
    margin: 30px auto 20px;
}

.inquiry .iconMail {
    width: 18px;
    height: 14px;
    margin-right: 10px;
    transition-duration: .2s;
    fill: #e64346;
}

.inquiry .buttonLink:hover .iconMail {
    transform: scale(1.3);
}

.inquiryTel {
    display: block;
    color: #555;
    font-family: 'M PLUS Rounded 1c', sans-serif;
    font-size: 32px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    pointer-events: none;
}

    .inquiryTel .iconTel {
        width: 24px;
        height: 24px;
        margin-right: 5px;
        fill: #e64346;
    }

    .inquiryTel p {
        margin-top: 5px;
        font-size: .875rem;
        font-weight: normal;
        letter-spacing: .05em;
    }

.inquiryTelText {
    margin-top: 13px;
    padding-top: 10px;
    border-top: 2px solid #e6e5e1;
    line-height: 1.75;
    text-align: center;
}

/* ===================================================== */
/* CLEAR */
/* ===================================================== */

.clearfix:after {
    /* for modern browser */
    content: "";
    clear: both;
    height: 0;
    display: block;
    visibility: hidden;
}
