@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "かんたん見積";
}
<div>
    <div id="DIV2" style="border-right: #3c82ed 1px solid;
            border-top: #3c82ed 1px solid; z-index: 104; left: 8px; border-left: #3c82ed 1px solid;
            width: 142px; border-bottom: #3c82ed 1px solid; position: absolute; top: 68px;
            height: 173px; background-color: transparent;">
        <input type="image" name="btnBack" onclick="Framework.GoBackReloadPage();return false" src="~/img/btn見積TOP.png" style="height:38px;width:110px;border-width:0px;z-index: 105;
            left: 17px; position: absolute; top: 8px">
        &nbsp; &nbsp;
        <input type="image" name="btnSerEst" onclick="OnclickSelCar();return false" src="~/img/btn検索.png" style="height:38px;width:110px;border-width:0px;z-index: 109; left: 17px; position: absolute; top: 60px">
        &nbsp; &nbsp;
        <input type="image" name="btnInitVal" onclick="Framework.GoBackReloadPageUrl('/InpInitVal');return false" src="~/img/btn諸費用設定.png" style="height:38px;width:110px;border-width:0px;z-index: 109; left: 17px; position: absolute; top: 111px">
        <span id="lblInfoSetting" style="display:inline-block;color:Red;background-color:Transparent;font-family:ＭＳ Ｐゴシック;font-size:9pt;font-weight:bold;height:14px;width:100px;font-weight: bold; z-index: 103;
            left: 25px; vertical-align: top; direction: ltr; position: absolute;
            top: 151px; text-align: left">※事前設定必要</span>
    </div>

    <span id="Label4" class="InpTitle1" style="display:inline-block;color:MediumBlue;font-family:ＭＳ Ｐゴシック;font-size:12pt;font-weight:bold;height:8px;width:283px;z-index: 105; left: 168px;
            position: absolute; top: 66px">フリー見積</span>
    <table class="inptable" id="Table4" bordercolor="#ffffff" cellspacing="0" style="LEFT: 164px; POSITION: absolute; TOP: 97px;">
        <tbody>
            <tr>
                <td class="tabletitle" colspan="2" align="left">
                    <span id="Label1" class="titlelabel" style="display:inline-block;color:White;width:283px;">車種を一覧から選択</span>
                </td>
            </tr>
            <tr>
                <td class="inptd" align="left">
                    <span id="Label2" class="inplabel" style="display:inline-block;width:128px;">①メーカーを選択</span>
                    <select name="ddlMaker" id="ddlMaker" onchange="return GetListASOPCarName()" tabindex="1" class="inpbox" style="width:253px;">
                    </select>
                </td>
            </tr>
            <tr>
                <td class="inptd" colspan="2" align="left">
                    <span id="Label3" class="inplabel" style="display:inline-block;width:128px;">②車種を選択</span>
                    <select name="ddlModel" id="ddlModel" tabindex="2" onchange="return onchangeCarName()" class="inpbox" style="width:252px;">
                    </select>
                </td>
            </tr>
            <tr>
                <td class="inpbtntd" colspan="2" style="height: 35px">
                    <input type="submit" name="btnNextGrade" value="この車種のグレードを選択する >>" id="btnNextGrade" onclick="btnNextGrade()" tabindex="3" class="Btn1" style="height:33px;width:281px;">
                </td>
            </tr>
            <tr>
                <td class="inpbtntd" colspan="2" style="height: 30px;">
                    <span id="lblErrMsg1" class="inplabel" style="display:inline-block;color:Crimson;font-family:ＭＳ Ｐゴシック;font-size:12pt;font-weight:bold;height:40px;width:400px;"></span>
                </td>
            </tr>
        </tbody>
    </table>
    <table id="Table2" bordercolor="#ffffff" cellpadding="2" cellspacing="0" class="inptable" style="z-index: 114; left: 167px; position: absolute; top: 302px; width: 399px;">
        <tbody>
            <tr>
                <td class="tabletitle" align="left">
                    <span id="Label15" class="titlelabel" style="display:inline-block;width:283px;">車種を型式・類別で指定</span>
                </td>
            </tr>
            <tr>
                <td class="inptd" align="left">
                    <span id="Label14" class="inplabel" style="display:inline-block;width:80px;">型式指定</span>
                    <input name="CaseSet" type="text" maxlength="5" id="CaseSet" tabindex="4" class="inpbox" style="width:150px;ime-mode: disabled">
                </td>
            </tr>
            <tr>
                <td class="inptd" align="left">
                    <span id="Label5" class="inplabel" style="display:inline-block;width:80px;">類別区分</span>
                    <input name="KbnSet" type="text" maxlength="4" id="KbnSet" tabindex="5" class="inpbox" style="width:150px;ime-mode: disabled">
                </td>
            </tr>
            <tr>
                <td class="inpbtntd" colspan="2" style="height: 35px">
                    <input type="button" name="btnChkModel" value="車名を確認する >>" onclick="btnChkModel()" id="btnChkModel" tabindex="3" class="Btn1" style="height:33px;width:281px;">
                </td>
            </tr>

            <tr>
                <td class="inpbtntd" colspan="2" style="height: 30px;">
                    <span id="lblErrMsg2" class="inplabel" style="display:inline-block;color:Crimson;font-family:ＭＳ Ｐゴシック;font-size:12pt;font-weight:bold;height:40px;width:400px;"></span>
                </td>
            </tr>
        </tbody>

    </table>
    <div style=" position:absolute; top:1300px; left:0px; z-index: 112;">&nbsp;</div>
    <input type="submit" name="btnNextInpEst" value="車名を直接入力する >>" onclick="AddEstimate();return false;" id="btnNextInpEst" tabindex="3" class="Btn1" style="font-family:ＭＳ Ｐゴシック;font-size:12pt;height:33px;width:281px;z-index: 107;
            left: 283px; position: absolute; top: 522px">
    <span id="Label34" class="InpTitle1" style="display:inline-block;color:MediumBlue;font-family:ＭＳ Ｐゴシック;font-size:12pt;font-weight:bold;height:8px;width:467px;z-index: 109; left: 171px;
            position: absolute; top: 496px">※上の選択機能で車種が見つからない場合はこちらから</span>
    &nbsp;
</div>
<script src="~/js/SelCar.js"></script>