<?xml version="1.0" encoding="utf-8"?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <targets async="true">

    <!-- トレースログ。通常ログ＋SQLジャーナルログ。 -->
    <target xsi:type="File" name="tracefile" fileName="logs/trace.log"
            layout="${longdate} [${threadid:padding=8}] [${uppercase:${level:padding=5}}] ${logger} ${callsite}() url: ${aspnet-request-url} action: ${aspnet-mvc-action} ${message} ${exception:format=tostring}"
            archiveFileName="logs/archived/${date:format=yyyyMMdd}/trace_${date:format=yyyyMMdd_HH}.log"
            archiveNumbering="Date"
            archiveDateFormat="yyyyMMdd"
            archiveEvery="Hour"
            maxArchiveFiles="60" />

    <!-- 通常ログ出力（スタックトレースの表示なし） -->
    <target xsi:type="File" name="normalLogFile" fileName="logs/info.log"
            layout="${longdate} [${threadid:padding=8}] [${uppercase:${level:padding=5}}] ${logger} ${callsite}() ${message} ${exception:format=tostring}"
            archiveFileName="logs/archived/${date:format=yyyyMMdd}/info_${date:format=yyyyMMdd_HH}.log"
            archiveNumbering="Date"
            archiveDateFormat="yyyyMMdd"
            archiveEvery="Hour"
            maxArchiveFiles="60" />

    <!-- エラーログ出力 -->
    <target xsi:type="File" name="errorLogFile" fileName="logs/error.log"
            layout="${longdate} [${threadid:padding=8}] [${uppercase:${level:padding=5}}] ${logger} ${callsite}() ${message} ${exception:format=tostring}"
            archiveFileName="logs/archived/${date:format=yyyyMMdd}/error_${date:format=yyyyMMdd}.log"
            archiveNumbering="Date"
            archiveDateFormat="yyyyMMdd"
            archiveEvery="Day"
            maxArchiveFiles="60" />

    <!-- ブラックホール -->
    <target xsi:type="Null" name="BlackHole" formatMessage="false" />
  </targets>


  <rules>
    <logger name="System.*" finalMinLevel="Warn" />
    <logger name="Microsoft.*" finalMinLevel="Warn" />
    <logger name="Microsoft.Hosting.Lifetime*" finalMinLevel="Warn" />
    <logger name="*" writeTo="BlackHole" minlevel="Trace" maxlevel="Warn" >
      <filters defaultAction="Ignore">
        <when condition="starts-with('${callsite}', 'Microsoft')" action="IgnoreFinal"/>
      </filters>
    </logger>

    <!-- トレースログ -->
    <logger name="*" minlevel="Trace" writeTo="tracefile" />

    <!-- 通常ログ -->
    <logger name="*" minlevel="Info" writeTo="normalLogFile" >
      <filters defaultAction="Log">
        <!-- Daoで出力しているジャーナルは本出力含めこれ以降出力しない -->
        <when condition="LogLevel.Information >= level and starts-with('${logger}', 'Autoserver.AuthenticationSubService.Dao')" action="IgnoreFinal" />
      </filters>
    </logger>

    <!-- エラーログ -->
    <logger name="*" minlevel="Warn" writeTo="errorLogFile" />
  </rules>
</nlog>
