<?xml version="1.0" encoding="utf-8"?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <targets async="true">

    <!-- トレースログ。通常ログ＋SQLジャーナルログ。 -->
    <target xsi:type="File" name="tracefile" fileName="${basedir}/Logs/trace.log"
            archiveFileName="${basedir}/Logs/archived/${date:format=yyyyMMdd}/trace_${date:format=yyyyMMdd_HH}.log"
            archiveNumbering="Date"
            archiveDateFormat="yyyyMMdd"
            archiveEvery="Hour"
            maxArchiveFiles="60" 
			layout="[${uppercase:${level}}]-----${longdate}-----START${newline}${newline}
ThreadID: [${threadid:padding=8}]${newline}
Logger: ${logger}${newline}
Call From: ${callsite}()${newline}
Url: ${aspnet-request-url}${newline}
Action: ${aspnet-mvc-action}${newline}
${message}${newline}
${exception:format=tostring}${newline}
[${uppercase:${level}}]-----${longdate}-----END${newline}"
/>

    <!-- 通常ログ出力（スタックトレースの表示なし） -->
    <target xsi:type="File" name="normalLogFile" fileName="${basedir}/Logs/info.log"
            layout="${longdate} [${threadid:padding=8}] [${uppercase:${level:padding=5}}] ${logger} ${callsite}() ${message} ${exception:format=tostring}"
            archiveFileName="${basedir}/Logs/archived/${date:format=yyyyMMdd}/info_${date:format=yyyyMMdd_HH}.log"
            archiveNumbering="Date"
            archiveDateFormat="yyyyMMdd"
            archiveEvery="Hour"
            maxArchiveFiles="60" />

    <!-- エラーログ出力 -->
    <target xsi:type="File" name="errorLogFile" fileName="${basedir}/Logs/error.log"
            layout="${longdate} [${threadid:padding=8}] [${uppercase:${level:padding=5}}] ${logger} ${callsite}() ${message} ${exception:format=tostring}"
            archiveFileName="${basedir}/Logs/archived/${date:format=yyyyMMdd}/error_${date:format=yyyyMMdd}.log"
            archiveNumbering="Date"
            archiveDateFormat="yyyyMMdd"
            archiveEvery="Day"
            maxArchiveFiles="60" />

	  <!-- デーバグログ出力 -->
	  <target xsi:type="File" name="debugLogFile" fileName="${basedir}/Logs/Debug/Debug_${date:format=yyyyMMdd}.log"
			  layout="${uppercase:${level}} ${longdate} ${message} ${exception:format=tostring}"
			  archiveFileName="${basedir}/Logs/archived/Debug/${date:format=yyyyMMdd}/error_${date:format=yyyyMMdd}.log"
			  archiveNumbering="Date"
			  archiveDateFormat="yyyyMMdd"
			  archiveEvery="Day"
			  maxArchiveFiles="60" />

    <!-- ブラックホール -->
    <target xsi:type="Null" name="BlackHole" formatMessage="false" />
  </targets>


  <rules>
    <logger name="System.*" finalMinLevel="Warn" />
    <logger name="Microsoft.*" finalMinLevel="Warn" />
    <logger name="Microsoft.Hosting.Lifetime*" finalMinLevel="Warn" />
    <logger name="*" writeTo="BlackHole" minlevel="Trace" maxlevel="Warn" >
      <filters defaultAction="Ignore">
        <when condition="starts-with('${callsite}', 'Microsoft')" action="IgnoreFinal"/>
      </filters>
    </logger>

    <!-- トレースログ -->
    <logger name="*" minlevel="Trace" writeTo="tracefile" />

    <!-- 通常ログ -->
    <logger name="*" minlevel="Info" writeTo="normalLogFile" >
      <filters defaultAction="Log">
        <!-- Daoで出力しているジャーナルは本出力含めこれ以降出力しない -->
        <when condition="LogLevel.Information >= level and starts-with('${logger}', 'Autoserver.AuthenticationSubService.Dao')" action="IgnoreFinal" />
      </filters>
    </logger>

    <!-- エラーログ -->
    <logger name="*" minlevel="Warning" writeTo="errorLogFile" />
  </rules>
</nlog>
