@addTagHelper *, WebOptimizer.Core
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no, user-scalable=no, minimal-ui">   
    <!-- Remove Tap Highlight on Windows Phone IE -->
    <meta name="msapplication-tap-highlight" content="no">
    <link rel="shortcut icon" href="~/favicon.ico">
    <!-- custom bootstrap-->
    <link href="~/css/site.css" rel="stylesheet" />
    <script src="~/js/bundle.js"></script>
</head>
<body>
    <div class="container text-center">
        <div id="header"></div>        
        @RenderBody()
    </div>
    <script>
        $("#header").load(Framework.GetFullHost("/Home/Header"))
    </script>
    @RenderSection("Scripts", required: false)
</body>
</html>

