@using KantanMitsumori.Model.Response
@model ResponseInpCustKana
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "かんたん見積";
}
<form id="formInputCustKana" onkeydown="return NoSubmit(event);">
    <div align="center">
        <table class="inptable" id="Table3" cellpadding="2" cellspacing="0" style="border-color:#ffffff">
            <tr>
                <td class="inptd" style="background-color:White;" align="left">
                    <span id="Label3" class="inplabel" style="color:#3C82ED;font-size:14pt;font-weight:bold;">お客様情報の編集</span>
                </td>
            </tr>
            <tr>
                <td class="inptd" style="background-color:White;" align="left">
                    <span id="Label4" class="inplabel">
                        お客様カナ名と簡易メモを編集できます。
                    </span><br>
                    <span id="Label5" class="inplabel" style="color:Red;">
                        ※本システムでは、個人情報を扱わないよう、<br>
                        お客様名はカナ名のみの登録としております。
                    </span>
                </td>
            </tr>
            <tr>
                <td class="tabletitle" align="left">
                    <span id="lblOption" class="titlelabel" style="display:inline-block;width:302px;">お客様カナ名</span>
                </td>
            </tr>
            <tr>
                <td class="inptd" align="left">
                    <input name="CustKana" type="text" maxlength="20" value="@Model.CustKana" class="inpbox" id="txtCustKanaName" style="width:250px;">
                </td>
            </tr>
            <tr>
                <td class="tabletitle" align="left">
                    <span id="Label1" class="titlelabel" style="display:inline-block;width:400px;">メモ</span>
                </td>
            </tr>
            <tr>
                <td class="inptd" align="left">
                    <input name="CustMemo" type="text" maxlength="60" value="@Model.CustMemo" class="inpbox" id="txtCustMemo" style="width:430px;">

                </td>
            </tr>

            <tr>
                <td class="InpTableTd" colspan="2" style=" background-color:White; text-align:right; border-bottom:none; padding-top:3px;">
                    <input type="button" name="btnCancel" value="キャンセル" id="btnCancel" onclick="Framework.GoBackReloadPage();return false;" class="Btn1" style="height:32px;width:100px;">
                    <input type="submit" name="btnOK" value="OK" form="formInputCustKana" onclick="return onSummit();" id="btnOK" class="Btn1" style="height:32px;width:100px;">
                </td>
            </tr>
            <tr>
                <td class="inpbtntd" colspan="2">
                    <span id="txMsg" class="inpboxsum" style="display:inline-block;color:Red;width:450px;"></span>&nbsp;
                </td>

            </tr>
        </table>
        <input type="hidden" id="hidEstNo" name="EstNo" value="@Model.EstNo">
        <input type="hidden" id="hidEstNo" name="EstSubNo" value="@Model.EstSubNo">
    </div>
</form>
<script>
    function onSummit() {
        if (inputChk() == true) {
            Framework.OnSubmitForm("/InpCustKana/UpdateInpCustKana", "formInputCustKana");
        }
        return false;
    }
</script>
<script src="~/js/InpCustKana.js"></script>
