@using KantanMitsumori.Models
@{
    ViewData["Title"] = "かんたん見積";
}
@model ErrorViewModel





<!DOCTYPE html>
<html>
<head>
    <title>かんたん見積</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no, user-scalable=no, minimal-ui">



    <!-- Remove Tap Highlight on Windows Phone IE -->
    <meta name="msapplication-tap-highlight" content="no">
    <link rel="shortcut icon" href="~/favicon.ico">
    <!-- Add css bootstrap-->
    <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/lib/bootstrap/dist/css/docs.css" rel="stylesheet">
    <script src="~/lib/bootstrap/dist/css/bootstrap.bundle.min.js"></script>
    <link href="~/lib/bootstrap/dist/css/bootstrap-grid.css" rel="stylesheet" />
    <link href="~/lib/bootstrap/dist/css/bootstrap-reboot.css" rel="stylesheet" />
    <link href="~/lib/bootstrap/dist/css/bootstrap-utilities.css" rel="stylesheet" />



    <!-- custom bootstrap-->
    <link href="~/css/site.css" rel="stylesheet" />
    <!-- add jquery -->
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
    <!--Custom js-->
    <script src="~/js/framework.js"></script>
    <link rel="stylesheet" type="text/css" href="~/css/estmain.css" />
    <link rel="stylesheet" type="text/css" href="~/css/site.css" />
</head>
<body>
    <div class="container h-100">
        <div class="row h-100 justify-content-center align-items-center">
            <img id="imgIcon" src="~/img/BlankLogoMini.png" style="height:32px;width:41px;border-width:0px;left: 680px; position: absolute; top: 3px" />
            <img id="Image2" src="~/img/HeadTitle.gif" style="height:32px;width:187px;border-width:0px;left: 123px; position: absolute; top: 4px" />
            <br />
            <form name="form1" href="/" id="form1" class="col-12">
                <div class="form-group">
                    <span id="Label34" class="InpTitle1" style="display:inline-block;color:Red;font-family:ＭＳ Ｐゴシック;font-size:12pt;font-weight:bold;height:116px;width:625px;Z-INDEX: 100; LEFT: 16px; POSITION: absolute; TOP: 67px">
                        @Html.Raw(@Model.MessageContent)
                        <br>ASNET/店頭商談NETの元の画面から本サービスを起動して下さい。<br>（エラー番号：@Model.MessageCode）
                    </span>
                    <img id="Image1" src="~/img/BlankLogo.png" style="height:36px;width:110px;border-width:0px;z-index: 100;
            left: 2px; position: absolute; top: 1px" />
                    &nbsp;&nbsp;
                    <a id="closeWin" href="javascript:closeWin();">
                        <img src="~/img/btn閉じる.png" class="imgBtn" alt="" style="z-index: 102; left: 19px; position: absolute; top: 256px" />
                    </a>
                    <span id="lblExitMessage" class="InpTitle1" style="display:inline-block;color:Red;font-family:ＭＳ Ｐゴシック;font-size:11pt;font-weight:normal;height:23px;width:400px;z-index: 100; left: 18px;
            position: absolute; top: 230px">「閉じる」ボタンを押して、かんたん見積を終了してください。</span>
                </div>
            </form>
        </div>
    </div>
    <!-- Add js bootstrap-->
    <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
</body>
</html>
<script>
    $('#closeWin').click(function () {
        window.close();
    });
</script>